<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isfile</key>
		<true/>
		<key>name</key>
		<string>日本語</string>
		<key>face1</key>
		<string></string>
		<key>face2</key>
		<string></string>
		<key>children</key>
		<array>
			<dict>
				<key>isfile</key>
				<true/>
				<key>name</key>
				<string>Chapter 1</string>
				<key>face1</key>
				<string></string>
				<key>face2</key>
				<string></string>
				<key>children</key>
				<array>
					<dict>
						<key>isfile</key>
						<true/>
						<key>name</key>
						<string>Vocab</string>
						<key>face1</key>
						<string></string>
						<key>face2</key>
						<string></string>
						<key>children</key>
						<array>
							<dict>
								<key>isfile</key>
								<false/>
								<key>name</key>
								<string></string>
								<key>face1</key>
								<string>わたし</string>
								<key>face2</key>
								<string>I</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>isfile</key>
								<false/>
								<key>name</key>
								<string></string>
								<key>face1</key>
								<string>ばんごう</string>
								<key>face2</key>
								<string>number</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>isfile</key>
								<false/>
								<key>name</key>
								<string></string>
								<key>face1</key>
								<string>はい</string>
								<key>face2</key>
								<string>yes</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>isfile</key>
								<false/>
								<key>name</key>
								<string></string>
								<key>face1</key>
								<string>いちねんせい</string>
								<key>face2</key>
								<string>first year student</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>isfile</key>
								<false/>
								<key>name</key>
								<string></string>
								<key>face1</key>
								<string>にほん</string>
								<key>face2</key>
								<string>Japan</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>isfile</key>
								<false/>
								<key>name</key>
								<string></string>
								<key>face1</key>
								<string>なまえ</string>
								<key>face2</key>
								<string>name</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>isfile</key>
								<false/>
								<key>name</key>
								<string></string>
								<key>face1</key>
								<string>ともだち</string>
								<key>face2</key>
								<string>friend</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>isfile</key>
								<false/>
								<key>name</key>
								<string></string>
								<key>face1</key>
								<string>でんわ</string>
								<key>face2</key>
								<string>telephone</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>isfile</key>
								<false/>
								<key>name</key>
								<string></string>
								<key>face1</key>
								<string>あの</string>
								<key>face2</key>
								<string>um</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>isfile</key>
								<false/>
								<key>name</key>
								<string></string>
								<key>face1</key>
								<string>いま</string>
								<key>face2</key>
								<string>now</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>isfile</key>
								<false/>
								<key>name</key>
								<string></string>
								<key>face1</key>
								<string>えいご</string>
								<key>face2</key>
								<string>English</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>isfile</key>
								<false/>
								<key>name</key>
								<string></string>
								<key>face1</key>
								<string>ええ</string>
								<key>face2</key>
								<string>yes</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>isfile</key>
								<false/>
								<key>name</key>
								<string></string>
								<key>face1</key>
								<string>がくせい</string>
								<key>face2</key>
								<string>student</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>isfile</key>
								<false/>
								<key>name</key>
								<string></string>
								<key>face1</key>
								<string>こうこう</string>
								<key>face2</key>
								<string>high school</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>isfile</key>
								<false/>
								<key>name</key>
								<string></string>
								<key>face1</key>
								<string>ごご</string>
								<key>face2</key>
								<string>pm</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>isfile</key>
								<false/>
								<key>name</key>
								<string></string>
								<key>face1</key>
								<string>ごせん</string>
								<key>face2</key>
								<string>am</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>isfile</key>
								<false/>
								<key>name</key>
								<string></string>
								<key>face1</key>
								<string>せんこう</string>
								<key>face2</key>
								<string>major</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>isfile</key>
								<false/>
								<key>name</key>
								<string></string>
								<key>face1</key>
								<string>せんせい</string>
								<key>face2</key>
								<string>teacher</string>
								<key>children</key>
								<array/>
							</dict>
							<dict>
								<key>isfile</key>
								<false/>
								<key>name</key>
								<string></string>
								<key>face1</key>
								<string>だいがく</string>
								<key>face2</key>
								<string>college</string>
								<key>children</key>
								<array/>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>isfile</key>
				<true/>
				<key>name</key>
				<string>Chapter 2</string>
				<key>face1</key>
				<string></string>
				<key>face2</key>
				<string></string>
				<key>children</key>
				<array>
					<dict>
						<key>isfile</key>
						<false/>
						<key>face1</key>
						<string>どれ</string>
						<key>children</key>
						<array/>
						<key>face2</key>
						<string>which one</string>
						<key>name</key>
						<string></string>
					</dict>
					<dict>
						<key>isfile</key>
						<false/>
						<key>face1</key>
						<string>この</string>
						<key>children</key>
						<array/>
						<key>face2</key>
						<string>this</string>
						<key>name</key>
						<string></string>
					</dict>
					<dict>
						<key>isfile</key>
						<false/>
						<key>face1</key>
						<string>あれ</string>
						<key>children</key>
						<array/>
						<key>face2</key>
						<string>that one</string>
						<key>name</key>
						<string></string>
					</dict>
					<dict>
						<key>isfile</key>
						<false/>
						<key>face1</key>
						<string>それ</string>
						<key>children</key>
						<array/>
						<key>face2</key>
						<string>that one</string>
						<key>name</key>
						<string></string>
					</dict>
					<dict>
						<key>isfile</key>
						<false/>
						<key>face1</key>
						<string>これ</string>
						<key>children</key>
						<array/>
						<key>face2</key>
						<string>this one</string>
						<key>name</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>isfile</key>
				<true/>
				<key>name</key>
				<string>Chapter 3</string>
				<key>face1</key>
				<string></string>
				<key>face2</key>
				<string></string>
				<key>children</key>
				<array/>
			</dict>
		</array>
	</dict>
</array>
</plist>
