<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isfile</key>
		<true/>
		<key>name</key>
		<string>عربي</string>
		<key>face1</key>
		<string>مع السلامة</string>
		<key>face2</key>
		<string></string>
		<key>children</key>
		<array>
			<dict>
				<key>isfile</key>
				<false/>
				<key>name</key>
				<string></string>
				<key>face1</key>
				<string>الطاولة</string>
				<key>face2</key>
				<string>that table</string>
				<key>children</key>
				<array/>
			</dict>
			<dict>
				<key>isfile</key>
				<false/>
				<key>name</key>
				<string></string>
				<key>face1</key>
				<string>حبيبي</string>
				<key>face2</key>
				<string>My Love</string>
				<key>children</key>
				<array/>
			</dict>
			<dict>
				<key>isfile</key>
				<false/>
				<key>name</key>
				<string></string>
				<key>face1</key>
				<string>مع السلامة</string>
				<key>face2</key>
				<string>Good Bye</string>
				<key>children</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>isfile</key>
		<true/>
		<key>name</key>
		<string>日本語</string>
		<key>face1</key>
		<string></string>
		<key>face2</key>
		<string></string>
		<key>children</key>
		<array>
			<dict>
				<key>isfile</key>
				<true/>
				<key>face1</key>
				<string></string>
				<key>children</key>
				<array>
					<dict>
						<key>isfile</key>
						<false/>
						<key>face1</key>
						<string>にほんご</string>
						<key>children</key>
						<array/>
						<key>face2</key>
						<string>Japanese</string>
						<key>name</key>
						<string></string>
					</dict>
					<dict>
						<key>isfile</key>
						<false/>
						<key>face1</key>
						<string>こんにちは</string>
						<key>children</key>
						<array/>
						<key>face2</key>
						<string>Hello</string>
						<key>name</key>
						<string></string>
					</dict>
					<dict>
						<key>isfile</key>
						<false/>
						<key>face1</key>
						<string>こんばんは</string>
						<key>children</key>
						<array/>
						<key>face2</key>
						<string>Hello</string>
						<key>name</key>
						<string></string>
					</dict>
					<dict>
						<key>isfile</key>
						<false/>
						<key>face1</key>
						<string>みぎ</string>
						<key>children</key>
						<array/>
						<key>face2</key>
						<string>Right</string>
						<key>name</key>
						<string></string>
					</dict>
					<dict>
						<key>isfile</key>
						<false/>
						<key>face1</key>
						<string>としょかん</string>
						<key>children</key>
						<array/>
						<key>face2</key>
						<string>Library</string>
						<key>name</key>
						<string></string>
					</dict>
				</array>
				<key>face2</key>
				<string></string>
				<key>name</key>
				<string>Sample</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>isfile</key>
		<true/>
		<key>name</key>
		<string>Español</string>
		<key>face1</key>
		<string></string>
		<key>face2</key>
		<string></string>
		<key>children</key>
		<array>
			<dict>
				<key>isfile</key>
				<true/>
				<key>face1</key>
				<string></string>
				<key>children</key>
				<array>
					<dict>
						<key>isfile</key>
						<false/>
						<key>face1</key>
						<string>el bolígrafo</string>
						<key>children</key>
						<array/>
						<key>face2</key>
						<string>pen</string>
						<key>name</key>
						<string></string>
					</dict>
					<dict>
						<key>isfile</key>
						<false/>
						<key>face1</key>
						<string>la mesa</string>
						<key>children</key>
						<array/>
						<key>face2</key>
						<string>table</string>
						<key>name</key>
						<string></string>
					</dict>
					<dict>
						<key>isfile</key>
						<false/>
						<key>face1</key>
						<string>el cuaderno</string>
						<key>children</key>
						<array/>
						<key>face2</key>
						<string>notebook</string>
						<key>name</key>
						<string></string>
					</dict>
					<dict>
						<key>isfile</key>
						<false/>
						<key>face1</key>
						<string>el lápiz</string>
						<key>children</key>
						<array/>
						<key>face2</key>
						<string>pencil</string>
						<key>name</key>
						<string></string>
					</dict>
				</array>
				<key>face2</key>
				<string></string>
				<key>name</key>
				<string>Sample</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
